<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
  <ul class="list-group">
    <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-dashboard"></i>&nbsp;Home
    </a>
    <a *ngIf="authUser.type == 2" routerLink="/owner" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-users"></i>&nbsp;Clientes
    </a>
    <a routerLink="/loyalty" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-credit-card"></i>&nbsp;Fidelidade
    </a>
    <a routerLink="/offers" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-percent"></i>&nbsp;Ofertas
    </a>
    <div class="nested-menu">
      <a class="list-group-item" (click)="addExpandClass('pages')">
          <span><i class="fa fa-plus"></i>&nbsp; Relatórios</span>
      </a>
      <li class="nested" [class.expand]="showMenu === 'pages'">
          <ul class="submenu">
              <li>
                  <a routerLink="/reports/programs" [routerLinkActive]="['router-link-active']"><span>Adesões a Fidelidade</span></a>
              </li>
              <li>
                  <a routerLink="/reports/coupons" [routerLinkActive]="['router-link-active']"><span>Cupons e Ofertas</span></a>
              </li>
              <li>
                  <a routerLink="/reports/clients" [routerLinkActive]="['router-link-active']"><span>Meus Clientes</span></a>
              </li>
          </ul>
      </li>
    </div>
  </ul>
</nav>
