<div class="container-fluid">
  <app-page-header icon="fa-credit-card" heading="Manutenção de Programa de Fidelidade"></app-page-header>
  <div class="row mb-3">
    <div class="col-12 col-md-6">
      <div class="d-inline">
        <div class="float-left text-center">
            <span class="font-weight-bold">Status:</span>
        </div>

        <select class="form-control float-right w-75" [(ngModel)]="selectedStatusFilter" (change)="onSelectChange()">
            <option value="0" selected>Todos...</option>
            <option value="1">Não Publicado</option>
            <option value="2">Ativos</option>
            <option value="3">Cancelados/Inativos</option>
            <option value="3">Finalizados</option>
        </select>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <button class="btn btn-primary float-right" routerLink="details">Criar Fidelidade</button>
    </div>
  </div>
  <div class="row">
    <table class="table table-striped table-hover">
      <thead>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Início Programa</th>
        <th scope="col">Final Programa</th>
        <th scope="col">Tipo</th>
        <th scope="col">Status</th>
      </thead>
      <tbody>
        <tr *ngFor="let loyalty of loyalties" routerLink="details/{{loyalty.id}}">
          <th scope="row">{{loyalty.id}}</th>
          <td>{{loyalty.name}}</td>
          <td>{{loyalty.startDate | date:'dd/MM/yyyy'}}</td>
          <td>{{loyalty.endDate | date:'dd/MM/yyyy'}}</td>
          <td>
            <span *ngIf="loyalty.type === 1">Utilização</span>
            <span *ngIf="loyalty.type === 2">Pontuação</span>
          </td>
          <td>
              <label class="btn btn-warning btn-sm" *ngIf="loyalty.status === 1">
                  Não Publicado
              </label>
              <label class="btn btn-success btn-sm" *ngIf="loyalty.status === 2">
                  Ativo
              </label>
              <label class="btn btn-danger btn-sm" *ngIf="loyalty.status === 3">
                  Cancelado/Inativo
              </label>
              <label class="btn btn-info btn-sm" *ngIf="loyalty.status === 4">
                  Finalizado
              </label>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-loading [isProcessing]="isProcessing"></app-loading>
